<div th:fragment="footer">
  <div class="container-fluid section-footer-index">
    <div class="section-footer-index-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 section-footer-index-card">
            <h4 class="section-footer-title">Ответы на вопросы</h4>
            <div class="line-footer"></div>
            <span class="section-footer-text">С удовольствем ответим на все ваши вопросы по телефонам:<br>
                    приемная/факс: +375 (232) 20-23-17.<br>
                    директор: +375 (232) 20-22-56.<br>
                        технический отдел: +375 (232) 20-22-28.<br></span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 section-footer-index-card">
            <h4 class="section-footer-title">наш офис</h4>
            <div class="line-footer"></div>
            <span class="section-footer-text">ул. Мазурова,15-71, г.Гомель<br>
                    246053, Республика Беларусь.<br>
                    uksdrongo@gmail.com<br>
                    Директор: Чернышов Александр Леонидович<br>
                    Телефон: +375 (44) 712-19-36
                    </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 section-footer-index-card">
            <h4 class="section-footer-title">хотите у нас работать?</h4>
            <div class="line-footer"></div>
            <span class="section-footer-text">Пожалуйста, отправьте резюме и<br>
                    сопроводительное письмо по адресу:<br>
                        uksdrongo@gmail.com</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 section-footer-index-card">
            <h4 class="section-footer-title">мы в соцсетях</h4>
            <div class="line-footer"></div>
            <span class="section-footer-text">

                    <a href="http://instagram.com/_u/uksdrongo/" class="social-icon-link-insta"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>

                    <a href="https://vk.com/uksdrongo" class="social-icon-link"><i class="fa fa-vk social-icon" aria-hidden="true"></i></a>

                    </span>
          </div>
        </div>

        <p class="footer-copyright_text">© 2009 ООО "УКС-Дронго"</p>
      </div>
    </div>
  </div>
</div>